
.swade-official {
    --section-header-color: #2c4251;
    --section-header-size: 16px;
    --section-header-line-height: 24px;

    --input-background: #cbc0af;
    --input-box-shadow: 0 0 5px #099afd;
    --input-text-shadow: 0 0 10px #099afd;
    --color-text-dark-primary: #2c4251;

    /* Font section **/
    --section-header-font: "Audiowide", "Anton", "Signika", sans-serif;
    --default-font: "Cronos-Pro", "Roboto Slab", "Signika", serif;
    --content-background-image: url("../ui/bg.png");
}


.swade-official .tabs .item {
    font-family: "Audiowide", "Anton", "Signika", sans-serif;
}
.swade-official .section-header {
    text-transform: uppercase;
//font-weight: bold;
    /* added later */
    background: #2c4251;
    border: 1px solid #293133;
    color: #dfe6f5;
    line-height: var(--section-header-line-height);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.swade-official .header {
    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--section-header-font);
}

.swade-official .note-box .section-header {
    width: 100%;
    margin: 0;
}

.swade-official .summary .quickaccess {
    margin-left: 10px;
}

.swade-official .summary .attributes>.flexrow,
.swade-official .skills .skill-list,
.swade-official .additional-stats
{
    border: 2px solid rgba(59, 59, 59, 0.5);
    width: 100%;
    max-width: 100%;
}

.swade-official .skills .note-header,
.swade-official .skills .note-main,
.swade-official .skills .note-footer,
.swade-official .quickaccess .note-header,
.swade-official .quickaccess  .note-main,
.swade-official .quickaccess  .note-footer,
.swade-official .description .char-img-container,

.swade-official .header
{
    background-image: none;
}

.swade-official .branding img#peg-logo {
    display: none;
}
.swade-official .branding img#swade-logo {
    content : url("../ui/logo.png");
}
.swade-official.sheet input[type=text], .swade-official input[type="number"] {
    background: transparent !important;
}


.swade-official input {
    border: 0 !important;
}
.swade-official li {
    border: 0 !important;
}


.swade-official.sheet .window-content,
.swade.sheet .window-content,
.chat-message, #items .directory-item
{
    background: #E5F2F9 url("../ui/bg.png"); /* era digital-background.png */
    background-size: 100% 100%;
}
/*  è lo stesso ma concettualmente sono due cose diverse, sopra schede qui journal e altro */

/************************** QUI CAMBIA MOLTA ROBA *********************/
.window-app .window-content {
    background: #E5F2F9 url("../ui/bg.png"); /* era digital-background.png */
    background-size: 100% 100%;
}

/************************** QUI SOLO JOURNAL *********************

.journal-sheet .window-content {
    background-color: white;
    background-image: url("../ui/digital-background.png") !important;
    background-size: 100% 100%;
}
*/
a:hover {
    text-shadow: none;
}
.swade-official button:hover,
button:hover, button:focus {
    box-shadow: none;
    cursor: pointer;
    text-shadow: none;
}


.swade-official .tabs .item {
    color: #91afc3;
    box-shadow: 0 -4px 6px -3px #91afc3, 0 -4px 6px -3px #abc2d1 inset;
}

.swade-official .tabs .item:hover {
    color: #55809d;
}

.swade-official .tabs .active {
    color: var(--color-text-dark-primary);
    box-shadow: 0 -6px 6px -1px #abc2d1;
}

.swade-official .item-create {
    color: #91afc3;
}

.swade-official .item-create:hover,
.swade-official .item-create :focus  {
    color: #55809d;
}

.swade-official .wounds,
.swade-official .fatigue {
    background-image: none;
}





.swade .checkmark,
.swade-official .checkmark {
    background-color: #d1dde6;
    border: 1px solid #abc2d1;
}
.swade .check-container:hover input ~ .checkmark,
.swade-official .check-container:hover input ~ .checkmark {
    background-color: #d1dde6;
    box-shadow: 0 0 5px #099afd;
}
.swade .check-container:focus input ~ .checkmark,
.swade-official .check-container:focus input ~ .checkmark {
    box-shadow: 0 0 5px #099afd;
}
.swade-official .check-container input:checked ~ .checkmark,
.swade-official .check-container input:checked ~ .checkmark {
    background-color: #d1dde6;
}

/* Scheda dei png */
.swade-official.sheet .sheet-body .header, .swade.sheet.actor .inventory .inventory-categories .item-list .item-header, .swade.sheet.actor .sheet-body .header-field {
    background: #2c4251;
    border: 1px solid #293133;
    color: #dfe6f5;
    font-weight: normal;
}


.swade-official.sheet.actor .powers .arcane-tabs .arcane {
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #2c4251;
}

/* modifiche alla lista di vantaggi e svantaggi */
li.edge-hindrance img.item-image {
    display: none;
}
/* specifico per Augmentations */
[data-pack='swade-iz3.augmentations'] li.directory-item img.thumbnail {
    display: none;
}
/* Fine de specifico per Augmentations */
li.item .entity-name {
    padding-left: 12px;
    color: #2c4251;
    box-shadow: 0 -6px 6px -1px #abc2d1;
}

li.item .permission-viewer i {
    color: #2c4251 !important;
    box-shadow: 0 -6px 6px -1px #abc2d1;
}

li.directory-item.item, li.item .entity-name{
    line-height: 28px !important;
}
/* Fine modifiche alla lista degli oggetti */

/*  generico per folders */
.folder-contents {
    border-left: 0;
    border-bottom: 0;
}